{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 1 version"
          ]
        },
        "modules": false,
        "exclude": [
          "transform-regenerator"
        ]
      }
    ]
  ]
}
